---
BasedOnStyle: Google
IndentWidth: 4
NamespaceIndentation: All
IndentAccessModifiers: true

PointerAlignment: Left

ColumnLimit: 140
BinPackParameters: false
AlignAfterOpenBracket: Align
AllowAllParametersOfDeclarationOnNextLine: false

AllowShortBlocksOnASingleLine: true
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: true

BreakBeforeBraces: Allman  # Force Allman style for braces (new line)

MacroBlockBegin: 'QUERY_BEGIN'
MacroBlockEnd: 'QUERY_END'
